# ---> Java
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz
# idea ignoregit remote add origin http://10.82.12.180/platform/bdfint-bdtrace.git
*.idea/
*.ipr
*.iml
*.iws
*.gradle/
*build/
